nuxeo-platform-documentlink-types/src/main/resources/schemas/documentlink.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/documentlink"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/documentlink">

  <xs:simpleType name="schemaList">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="xpathList">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="linkedDocumentRef" type="xs:string"/>
  <xs:element name="linkedRepositoryName" type="xs:string"/>
  <xs:element name="passthroughtSchemas" type="nxs:schemaList"/>
  <xs:element name="passthroughtXpaths" type="nxs:xpathList"/>

</xs:schema>